.parent-container {
    width: 100%;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 2rem ;
    margin-bottom: 2rem ;
    padding: 4rem;
    border-radius: 10px;
    background-color: var(--white);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1.5px solid var(--a0);
    
}