:root {
    --a0: rgb(194, 238, 255);
    --a1: rgb(219, 245, 255);
    --a2: rgb(241, 247, 250);
    

    --white : #fff;
  }
body {
    /* background-color: var(--a2);
    box-sizing: border-box;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/25df5226866889.5635d99e96445.gif");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 100vh;
    width: 100%;  
}
